<div class="ui-g">
    <div class="ui-g-12 centrado">
        <h3>Minimo de miembros por grupo</h3>
        <p-spinner size="10" inputStyleClass="center" [(ngModel)]="miembrosPorGrupo" [min]="1" [max]="numeroMiembros"></p-spinner>
    </div>
    <div class="ui-g-12 centrado">
        <h3>Número de miembros total</h3>
        <input type="text" id="float-input" size="30" pInputText (keydown)="onKeydown($event)" [(ngModel)]="nombre" #myInput/>
        <button pButton type="button" icon="pi pi-fw pi-plus" (click)="addMiembro('myInput')" class="ui-button-raised ui-button-info"></button>
    </div> 
</div>

<div class="p-grid p-justify-center">
    <div class="ui-g-12 ui-md-6 ui-lg-4"  >
        <div>
            <h3 class="centrado">Miembros</h3>
            <p-table class="centrado" [value]="miembros">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Nombre</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-miembro>
                    <tr>
                        <td>{{miembro}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<div class="ui-g">
    <div class="ui-g-12 centrado">
        <button pButton type="button" label="Calcular" (click)="generarGrupos()"class="ui-button-raised ui-button-success"></button>
    </div>
</div>